*{
    font-family:'roboto', sans-serif;
}

.footer {
    text-align:center;
    text-justify:center;
    background-color:#1F2937;
    color:white;
    /*needs some more padding*/
    padding:40px;
}

.h1{
    font-size:48px;
    font-weight:extra-bold;
}

.header{
    display:flex;
    align-content:center;
    justify-content:space-between;
    background:#1F2937;
    padding: 15px 50px;
    color:#f9FAF8
}

.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight:bold;
}

.headerlinks{
    display:flex;
    padding-left:10px;
    padding-right:10px;
    justify-content:space-between;
    font-size:18px;
    color:#e5E7EB;
    gap:20px;
}

.section1{
    padding-top:50px;
    display:flex;
    background-color:#1F2937;
    color:white;
    flex-grow:0;
}

.section1right{
    background-color:grey;
    align-content:center;
    min-width:50%;
    text-align:center;
}

.info{
    display:flex;
    flex-direction:column;
    text-align:center;

}
.infoheader{
    font-size:36px;
    font-weight:800;
    color:#1F2937;
}
.infoitems{
    display:flex;
    flex-direction:row;
    max-width:700px;
    justify-content:center;
}

.box{
    border:2px solid #3882F6;
    width:100px;
    height:100px;
    border-radius:8px;
}

.quote{
    background-color:#E5E7Eb;
    font-size:36px;
    font-weight:light;
    font-style:italic;
    color:#1F2937;
}

.button{
    background-color:#3882F6;
    max-width:100px;
    border-radius:5px;
}